
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300&display=swap');
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    border: 2px solid black;
    height: 100vh;
    width: 330px;
}
.heading{
    font-weight:900;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
hr{
    margin-top: 0%;
}